{% extends 'base.html' %}

{% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>

<style>
  body {
    padding-top: 100px;
    scroll-behavior: smooth;
  }
  .section {
    padding: 50px 0;
  }
  .hidden {
    display: none;
  }
</style>

<div class="container mt-5">
  <h1 class="mb-4">Calendar</h1>
  <h2 class="mb-3">Welcome Community</h2>

  <p class="lead">
    Please use this calendar to stay up to date with our meetings!
  </p>

  <!-- Dropdown for district selection -->
  <div class="mb-3">
    <label for="districtSelect" class="form-label">Select District:</label>
    <select id="districtSelect" class="form-select" onchange="switchCalendar()">
      <option value="district1" selected>District 1</option>
      <option value="district2">District 2</option>
    </select>
  </div>

  <!-- Calendar iframe -->
  <iframe 
    id="calendarFrame"
    src="https://calendar.google.com/calendar/embed?src=98c5a3ebff6667bf361bf8044ef7a6eb0aefda40941b6c38718d564186f5c102%40group.calendar.google.com&ctz=America%2FNew_York"
    style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no">
  </iframe>

  <div class="mt-4">
    <h3>Book an Appointment</h3>
<!-- Google Calendar Appointment Scheduling begin -->
    <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3LeMHYqS_5_7PZ47CtBhN62_MIpZu2QRGSu6kbsLme880ffhLXZl7MBjC4eiR2WlyyQo-AFx-d?gv=true" 
    style="border: 0" width="100%" height="600" frameborder="0"></iframe>
<!-- end Google Calendar Appointment Scheduling -->
  </div>

  

</div>



<script>
  function switchCalendar() {
    const calendarFrame = document.getElementById("calendarFrame");
    const selectedDistrict = document.getElementById("districtSelect").value;

    // District calendar URLs
    const urls = {
      district1: "https://calendar.google.com/calendar/embed?src=77b8d0f7d14e7f13048e1130a5d4d35b1781cb44ae906dd242e078c6f4c59dbe%40group.calendar.google.com&ctz=America%2FNew_York",
      district2: "https://calendar.google.com/calendar/embed?src=98c5a3ebff6667bf361bf8044ef7a6eb0aefda40941b6c38718d564186f5c102%40group.calendar.google.com&ctz=America%2FNew_York",
    };


    calendarFrame.src = urls[selectedDistrict];
  }
</script>
{% endblock %}